#header{
	position: absolute;
	background-color: royalblue;
	top: 0px;
	left: 0px;
	height:10%;
	width: 100%;
}
#ProfilePicture{
	position: absolute;
	background-color: royalblue;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
}
#ProfileHeaderTitle{
	position: absolute;
	background-color: royalblue;
	left: 1%;
	top: 10%;
	width: 20%;
	height: 75%;
}
body{
	background-color: darkslateblue;
}
#Name{
	position: absolute;
	left: 25%;
	top: 0px;
	color: whitesmoke;
}
#AboutMeName{
	position: absolute;
	left: 46%;
	top: 300px;
	color: whitesmoke;
}
#LearnMore{
	background-color: rgb(0, 0, 265);
	position: absolute;
	left: 45.25%;
	top: 53%;
	width: 10%;
	font-size: 15px;
	color: whitesmoke;
}
#LearnMore:hover{
	background-color: rgb(0, 0, 200);
}
#HomeScreen{
	position: absolute;
	left: 0px;
	top: 10%;
	width: 100%;
	height: 700px;
}
#AllAboutMe{
	position: absolute;
	left: 46.3%;
	top: 39%;
	color: whitesmoke;
}

#Popup{
	position: absolute;
	background-color: whitesmoke;
	left: 33%;
	top: 40%;
	width: 40%;
	height: 40%;
	display: none;
}	

#Percentage{
	position: absolute;
	background-color: dimgrey;
	left: 25%;
	top: 35%;
	width: 50%;
	height: 10%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}
#SocialSecurityNumber{
	position: absolute;
	left: 0px;
	top: 0%;
	width: 100%;
	height: 40%;
	text-align: center;
}